body {
  background-color: rgb(47, 79, 79);
}
  
h1 {
  background-color:seagreen;
  color:white;
  font-family:impact;
}

h2 {
  background-color:khaki;
  color:white;
  font-family:impact;
}

li {
  color:white;
  font-family:helvetica;
}
